body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.reply {
  padding-left: 15px;
}

.show-reply {
  color: #337AB7;
  font-size: small;
}

.nav {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center
}
